<div class="navbar-collapse collapse">
			    <ul class="nav navbar-nav">
			      <li><a href="/secure/place">Secret</a></li>
			    </ul>
			    <ul class="nav navbar-nav navbar-right">
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=username%> <b class="caret"></b></a>
			        <ul class="dropdown-menu">
			            <li><a href="/login/form">Login</a></li>
			            <li class="divider"></li>
			            <li><a href="/logout">Logout</a></li>
			        </ul>
			      </li>

			    </ul>
			  </div><!--/.nav-collapse -->
